# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/TweetsNearMe.Azure/csx/Release/ServiceDefinition.build.csdef
/TweetsNearMe.Azure/csx/Release/ServiceDefinition.build.rd
/TweetsNearMe.Azure/csx/Release/ServiceDefinition.build.rdsc
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/RoleModel.xml
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/RuntimeSetup.Manifest
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/__entrypoint.txt
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/images/ajax-loader.gif
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/images/ajax-loader.png
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/images/icons-18-black.png
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/images/icons-18-white.png
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/images/icons-36-black.png
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/images/icons-36-white.png
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/jquery.mobile-1.1.0.css
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/jquery.mobile-1.1.0.min.css
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/jquery.mobile.structure-1.1.0.css
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/jquery.mobile.structure-1.1.0.min.css
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/jquery.mobile.theme-1.1.0.css
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/jquery.mobile.theme-1.1.0.min.css
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Content/tweets-near-me.css
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Scripts/TweetsNearMe.Scripts.debug.js
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Scripts/TweetsNearMe.Scripts.js
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Scripts/jquery-1.6.4-vsdoc.js
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Scripts/jquery-1.6.4.js
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Scripts/jquery-1.6.4.min.js
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Scripts/jquery.mobile-1.1.0.js
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Scripts/jquery.mobile-1.1.0.min.js
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Scripts/knockout.debug.js
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Scripts/knockout.js
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Scripts/mscorlib.debug.js
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Scripts/mscorlib.js
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/Web.config
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/about.htm
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/index.htm
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/approot/packages.config
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x64/Diagnostics.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x64/IISConfigurator.exe
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x64/Microsoft.WindowsAzure.Internal.RuntimeServer.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x64/WaHostBootstrapper.exe
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x64/WaIISHost.exe
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x64/WaIISHost.exe.config
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x64/WaRuntimeProxy.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x64/WaWebHost.exe
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x64/WaWorkerHost.exe
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x64/msshrtmi.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x64/mswasr.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x64/mswasri.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x86/Diagnostics.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x86/IISConfigurator.exe
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x86/Microsoft.WindowsAzure.Internal.RuntimeServer.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x86/WaHostBootstrapper.exe
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x86/WaIISHost.exe
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x86/WaRuntimeProxy.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x86/WaWebHost.exe
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x86/WaWorkerHost.exe
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x86/msshrtmi.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x86/mswasr.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/base/x86/mswasri.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/FileListener.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/MonAgent.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/MonAgentHost.exe
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/MonConfig.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/MonDiagnostics.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/MonEvents.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/MonNetTransport.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/MonQuery.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/MonTables.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/SysCounterListener.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/SystemEventsListener.dll
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/schema/1.0/ma.xsd
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/schema/1.0/maStatic.xsd
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/schema/1.0/query.xsd
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/schema/1.0/shared.xsd
/TweetsNearMe.Azure/csx/Release/roles/TweetsNearMe.Web/diagnostics/x64/monitor/secutil.dll